@charset "UTF-8";
@font-face {
  font-family: NotoSansTC;
  src: url("../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf") format("opentype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden !important;
  font-family: NotoSansTC, sans-serif;
}

.pointer {
  cursor: pointer;
}

/* 過場門 */
.left-door {
  width: 66.54vw;
  height: 100vh;
  background-image: url("../images/door/left.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(-66.54vw);
          transform: translateX(-66.54vw);
}

.left-door__active {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.right-door {
  width: 50.03vw;
  height: 100vh;
  background-image: url("../images/door/right.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(50.03vw);
          transform: translateX(50.03vw);
}

.right-door__active {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* 過場遮罩 */
.animation-mask-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  z-index: 1000;
}

.animation-mask {
  overflow: hidden;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  width: 0;
  height: 0;
}

.animation-mask__show {
  width: 100vh;
  height: 100vh;
  -webkit-animation: zoom-in 6s forwards;
          animation: zoom-in 6s forwards;
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    border-radius: 0;
    width: 100vw;
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    border-radius: 0;
    width: 100vw;
  }
}

.index {
  background-image: url("../images/index/bg-graidient.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__bg-bottom-cloud {
  background-image: url("../images/index/cloud-front.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 41.81vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.index__bg-building {
  background-image: url("../images/index/bg-building.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.index__introduce {
  position: absolute;
  bottom: 6.482vh;
  left: 5.73vw;
  width: 17.71vw;
  height: 9.77vh;
  z-index: 3;
}

.index__introduce::before {
  content: '';
  background-image: url("../images/index/index-cartoon-two.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 6.771vw;
  height: 14.26vh;
  position: absolute;
  top: -2.084vh;
  left: -2.344vw;
}

.index__introduce img {
  width: 100%;
  height: 100%;
}

.index__chronology {
  position: absolute;
  bottom: -5.093vh;
}

.index__award {
  position: absolute;
  top: -4.63vh;
  right: 14.33vw;
}

.index__lifestyle {
  position: absolute;
  top: 9.26vh;
  left: -3.65vw;
  width: 17.71vw;
  height: 9.77vh;
}

.index__lifestyle::before {
  content: '';
  background-image: url("../images/index/index-cartoon-one.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 7.84vw;
  height: 14.17vh;
  position: absolute;
  top: -8.34vh;
  left: 0.651vw;
  z-index: -1;
}

.index__lifestyle img {
  width: 100%;
  height: 100%;
}

.index__builing-group {
  margin-top: 22.23vh;
}

.index__history {
  width: 24.48vw;
  height: 63.2vh;
  background-image: url("../images/index/loopBuilding-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1.823vw;
  margin-bottom: 2.32vh;
  -webkit-animation-name: history-change;
          animation-name: history-change;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.index__history__award {
  width: 8.99vw;
  height: 34.36vh;
  background-image: url("../images/index/award.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -17.13vh;
  left: 5.21vw;
  z-index: 2;
}

.index__history__award__left-light-base {
  position: absolute;
  bottom: 4.63vh;
  left: -1.823vw;
  width: 0.756vw;
  height: 1.482vh;
  background-image: url("../images/index/light-rotate/light-base.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.index__history__award__left-light-head {
  position: absolute;
  bottom: 5.56vh;
  left: -1.823vw;
  width: 1.25vw;
  height: 1.991vh;
  background-image: url("../images/index/light-rotate/light-head-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-name: light-rotate;
          animation-name: light-rotate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.index__history__award__left-light-head::after {
  content: '';
  width: 9.64vw;
  height: 20.65vh;
  background-image: url("../images/index/light-rotate/spotlight-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: 0.926vh;
  left: 0.7813vw;
}

.index__history__award__right-light-base {
  position: absolute;
  bottom: 4.63vh;
  right: -5.99vw;
  width: 0.756vw;
  height: 1.482vh;
  background-image: url("../images/index/light-rotate/light-base.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.index__history__award__right-light-head {
  position: absolute;
  bottom: 5.56vh;
  right: -5.99vw;
  width: 1.25vw;
  height: 1.991vh;
  background-image: url("../images/index/light-rotate/light-head-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-name: light-rotate;
          animation-name: light-rotate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.index__history__award__right-light-head::after {
  content: '';
  width: 9.64vw;
  height: 20.65vh;
  background-image: url("../images/index/light-rotate/spotlight-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: 0.926vh;
  right: 0.7813vw;
}

.index__history__clock {
  width: 5.261vw;
  height: 16.3vh;
  background-image: url("../images/index/clock.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 4.63vh;
  left: -1.433vw;
}

.index__history__clock::after {
  content: '';
  position: absolute;
  top: 6.019vh;
  left: 2.344vw;
  width: 0.183vw;
  height: 2.32vh;
  background-color: white;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: pointer-rotate 30s infinite steps(60);
          animation: pointer-rotate 30s infinite steps(60);
}

.index__history__mist {
  width: 17.87vw;
  height: 26.58vh;
  background-image: url("../images/index/mist.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -14.82vh;
  left: 1.563vw;
  z-index: 1;
  -webkit-animation-name: mist-move;
          animation-name: mist-move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.index__intro {
  width: 35.16vw;
  height: 71.76vh;
  margin-top: 0.463vh;
  margin-right: 1.823vw;
  background-image: url("../images/index/intro.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.index__intro__active {
  background-image: url("../images/index/intro-active.svg");
}

.index__board {
  width: 15.21vw;
  height: 38.74vh;
  background-image: url("../images/index/board.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -13.89vh;
  left: 11.72vw;
}

.index__board__active {
  background-image: url("../images/index/board-active.svg");
  height: 41.16vh;
  top: -15.05vh;
}

.index__board__video {
  width: 15.76vw;
  height: 32.41vh;
  -webkit-transform: rotate(34deg) skew(34deg, -4deg) translateX(-0.7032vw) translateY(3.01vh);
          transform: rotate(34deg) skew(34deg, -4deg) translateX(-0.7032vw) translateY(3.01vh);
}

.index__board__video__active {
  -webkit-transform: rotate(34deg) skew(34deg, -4deg) translateX(-0.7032vw) translateY(3.936vh);
          transform: rotate(34deg) skew(34deg, -4deg) translateX(-0.7032vw) translateY(3.936vh);
}

.index__board__right-light-base {
  position: absolute;
  right: 3.125vw;
  bottom: -3.565vh;
  width: 0.756vw;
  height: 1.482vh;
  background-image: url("../images/index/light-rotate/light-base.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.index__board__right-light-base__active {
  bottom: -2.315vh;
}

.index__board__right-light-head {
  position: absolute;
  bottom: -2.639vh;
  right: 3.125vw;
  width: 1.25vw;
  height: 1.991vh;
  background-image: url("../images/index/light-rotate/light-head-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.index__board__right-light-head__active {
  bottom: -1.389vh;
}

.index__board__right-light-head::after {
  content: '';
  width: 9.64vw;
  height: 20.65vh;
  background-image: url("../images/index/light-rotate/spotlight-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: 0.926vh;
  right: 0.7813vw;
}

.index__arrow-path {
  width: 3.52vw;
  height: 4.91vh;
  background-image: url("../images/index/arrow-path/arrow-path-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 12.27vh;
  left: 1.96vw;
  -webkit-animation-name: arrow-path-change;
          animation-name: arrow-path-change;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.index__cloud-group {
  height: 11.12vh;
  width: 6.25vw;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  top: 6.95vh;
  left: 0;
  opacity: 0.8;
}

.index__cloud-group__two {
  top: 4.63vh;
  left: 5.21vw;
}

.index__cloud-group__three {
  left: 6.381vw;
}

.index__cloud-group__four {
  left: 9.12vw;
}

.index__cloud-group__five {
  width: 12.5vw;
  left: 11.72vw;
}

.index__cloud-group__six {
  top: 6.019vh;
  left: 19.54vw;
}

.index__cloud-group-two {
  height: 11.12vh;
  width: 6.25vw;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  top: 6.95vh;
  right: 0;
  opacity: 0.8;
}

.index__cloud-group-two__two {
  top: 4.63vh;
  right: 5.21vw;
}

.index__cloud-group-two__three {
  right: 6.381vw;
}

.index__cloud-group-two__four {
  right: 9.115vw;
}

.index__cloud-group-two__five {
  width: 12.5vw;
  right: 11.72vw;
}

.index__cloud-group-two__six {
  top: 6.02vh;
  right: 19.54vw;
}

.index__cloud-group-two__seven {
  top: 5.093vh;
  right: 24.74vw;
}

.index__cloud-wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.index__cloud-wave::before {
  content: "";
  position: absolute;
  width: 12.24vw;
  height: 18.06vh;
  top: 6.95vh;
  left: 55%;
  background-color: rgba(250, 250, 250, 0.18);
  border-radius: 70%;
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: wave 6s linear infinite;
          animation: wave 6s linear infinite;
  z-index: 10;
}

.index__cloud-wave::after {
  content: "";
  position: absolute;
  width: 12.24vw;
  height: 18.06vh;
  top: 6.95vh;
  left: 55%;
  border-radius: 30%;
  background-color: rgba(250, 250, 250, 0.9);
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: wave 10s linear -5s infinite;
          animation: wave 10s linear -5s infinite;
  z-index: 20;
}

.index__sound {
  width: 9.037vw;
  height: 63.241vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 34.73vh;
  right: 2.61vw;
  z-index: 3;
  -webkit-animation-name: soundMove;
          animation-name: soundMove;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.index__sound-front {
  width: 9.04vw;
  height: 63.241vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 5.21vw;
  z-index: 3;
  -webkit-animation-name: soundMove;
          animation-name: soundMove;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.index__video-popup {
  max-width: 84.09vw !important;
}

.index__video-popup .modal-content {
  height: 81.95vh;
  background-image: url("../images/index/popup-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  border: none;
}

.index__video-popup__video {
  position: absolute;
  top: 8.34vh;
  left: 15.24vw;
  width: 59.09vw;
  height: 59.09vh;
}

.index__video-popup #film-two, .index__video-popup #film-three {
  display: none;
}

.index__video-popup__close {
  position: absolute;
  top: -1.86vh;
  right: -0.782vw;
  opacity: 1 !important;
  width: 6.41vw;
  height: 10.05vh;
}

.index__video-popup__close img {
  width: 100%;
  height: 100%;
}

.index__video-popup__richart {
  width: 12.01vw;
  height: 36.02vh;
  background-image: url("../images/index/richart.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: -3.241vh;
  right: -4.17vw;
}

.index__video-popup__button-group {
  position: absolute;
  bottom: 6.02vh;
  left: 15.11vw;
}

.index__video-popup__button-group button {
  width: 13.021vw;
  height: 5.56vh;
  margin-right: 1.172vw;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.index__video-popup__button-group button:focus {
  outline: none;
}

.index__video-popup__button-group .video-btn-one {
  background-image: url("../images/index/videoBtn-default.svg");
}

.index__video-popup__button-group .video-btn-one__active {
  background-image: url("../images/index/videoBtn-active.svg");
}

.index__video-popup__button-group .video-btn-two {
  background-image: url("../images/index/videoBtn-default.svg");
}

.index__video-popup__button-group .video-btn-two__active {
  background-image: url("../images/index/videoBtn-active.svg");
}

.index__video-popup__button-group .video-btn-three {
  background-image: url("../images/index/videoBtn-default.svg");
}

.index__video-popup__button-group .video-btn-three__active {
  background-image: url("../images/index/videoBtn-active.svg");
}

.index__video-popup__upline {
  width: 66.67vw;
  height: 1.12vh;
  background-image: url("../images/index/popup-upperline.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 3.241vh;
  left: 8.594vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-filter: brightness(300%);
          filter: brightness(300%);
  overflow: hidden;
}

.index__video-popup__rightline {
  width: 36.46vw;
  height: 1.12vh;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url("../images/index/popup-upperline.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 40.741vh;
  right: -15.11vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-filter: brightness(300%);
          filter: brightness(300%);
  overflow: hidden;
}

.index__video-popup__bottomline {
  width: 7.27vw;
  height: 5.33vh;
  background-image: url("../images/index/popup-bottom-left.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1.39vh;
  left: -0.261vw;
}

.index__video-popup__dodge {
  background: radial-gradient(circle, white, red 35%) center/25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  -webkit-animation: dodge-area 3s linear infinite;
          animation: dodge-area 3s linear infinite;
}

.index__video-popup__btn-two-active .default {
  display: none;
}

.index__video-popup__btn-two-active .active {
  display: inline;
}

/* 指針動畫 */
@-webkit-keyframes pointer-rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes pointer-rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/* cloud wave 動畫 */
@-webkit-keyframes wave {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes wave {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

/* 音響動畫 */
@-webkit-keyframes soundMove {
  0% {
    background-image: url("../images/index/sound-level-1.svg");
  }
  20% {
    background-image: url("../images/index/sound-level-2.svg");
  }
  40% {
    background-image: url("../images/index/sound-level-3.svg");
  }
  60% {
    background-image: url("../images/index/sound-level-4.svg");
  }
  80% {
    background-image: url("../images/index/sound-level-5.svg");
  }
  100% {
    background-image: url("../images/index/sound-level-6.svg");
  }
}
@keyframes soundMove {
  0% {
    background-image: url("../images/index/sound-level-1.svg");
  }
  20% {
    background-image: url("../images/index/sound-level-2.svg");
  }
  40% {
    background-image: url("../images/index/sound-level-3.svg");
  }
  60% {
    background-image: url("../images/index/sound-level-4.svg");
  }
  80% {
    background-image: url("../images/index/sound-level-5.svg");
  }
  100% {
    background-image: url("../images/index/sound-level-6.svg");
  }
}

/* pop up 邊框動畫 */
@-webkit-keyframes dodge-area {
  to {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}
@keyframes dodge-area {
  to {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-rewind-button {
  display: none;
}

/* mist 動畫 */
@-webkit-keyframes mist-move {
  100% {
    -webkit-transform: translateX(1.3021vw);
            transform: translateX(1.3021vw);
  }
}
@keyframes mist-move {
  100% {
    -webkit-transform: translateX(1.3021vw);
            transform: translateX(1.3021vw);
  }
}

/* 獎盃燈光轉動 */
@-webkit-keyframes light-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
@keyframes light-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

/* arrow path 換圖 */
@-webkit-keyframes arrow-path-change {
  25% {
    background-image: url("../images/index/arrow-path/arrow-path-1.svg");
  }
  50% {
    background-image: url("../images/index/arrow-path/arrow-path-2.png");
  }
  75% {
    background-image: url("../images/index/arrow-path/arrow-path-3.png");
  }
  100% {
    background-image: url("../images/index/arrow-path/arrow-path-4.png");
  }
}
@keyframes arrow-path-change {
  25% {
    background-image: url("../images/index/arrow-path/arrow-path-1.svg");
  }
  50% {
    background-image: url("../images/index/arrow-path/arrow-path-2.png");
  }
  75% {
    background-image: url("../images/index/arrow-path/arrow-path-3.png");
  }
  100% {
    background-image: url("../images/index/arrow-path/arrow-path-4.png");
  }
}

/* 水滴大樓換圖 */
@-webkit-keyframes history-change {
  50% {
    background-image: url("../images/index/loopBuilding-1.png");
  }
  100% {
    background-image: url("../images/index/loopBuilding-2.png");
  }
}
@keyframes history-change {
  50% {
    background-image: url("../images/index/loopBuilding-1.png");
  }
  100% {
    background-image: url("../images/index/loopBuilding-2.png");
  }
}

.introduce {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-image: url("../images/introduce/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  z-index: 700;
}

.introduce__title {
  width: 33.62vw;
  height: 14.73vh;
  background-image: url("../images/introduce/title.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 4.48vw;
}

.introduce__frame {
  background-image: url("../images/introduce/introduce-frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding-top: 9.26vh;
}

.introduce__frame__title {
  position: absolute;
  top: 3.704vh;
  right: 6.511vw;
  color: white;
  font-size: 2.605vw;
}

.introduce__frame__title-english {
  font-size: 2.084vw;
}

.introduce__frame__circle-group {
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;
}

.introduce__frame__circle-group__circle {
  width: 1.537vw;
  height: 1.537vw;
  background-image: url("../images/introduce/circle-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.introduce__frame__circle-group__circle__rotate {
  -webkit-animation: circle-rotate 1.3s linear .2s infinite;
          animation: circle-rotate 1.3s linear .2s infinite;
}

.introduce__frame__circle-group__circle2 {
  width: 1.537vw;
  height: 1.537vw;
  background-image: url("../images/introduce/circle-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 0.463vh;
}

.introduce__frame__circle-group__circle3 {
  width: 1.537vw;
  height: 1.537vw;
  background-image: url("../images/introduce/circle-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 0.463vh;
}

.introduce__map-land {
  width: 63.47vw;
  height: 55.56vh;
  position: absolute;
  top: 19.91vh;
  left: 1.302vw;
  background-image: url("../images/introduce/map-land.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.introduce__map-land__left-section {
  max-width: 50%;
  position: absolute;
  top: 18.52vh;
  left: 0;
}

.introduce__map-land__left-section__three {
  width: calc(9.56vw * 0.95);
  height: calc(15.74vh * 0.95);
  background-image: url("../images/introduce/map-leftsection-three-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 6.02vh;
  left: 2.61vw;
}

.introduce__map-land__left-section__three__title {
  background-color: #333333;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: -1.16vh;
  left: 0.131vw;
}

.introduce__map-land__left-section__three__title__active {
  top: -0.232vh;
  left: 0.652vw;
}

.introduce__map-land__left-section__three__active {
  width: calc(10.42vw * 0.95);
  height: calc(17.04vh * 0.95);
  top: 5.1vh;
  left: 2.084vw;
  background-image: url("../images/introduce/map-leftsection-three-active.svg");
}

.introduce__map-land__left-section__two {
  width: calc(11.85vw * 0.9);
  height: calc(18.48vh * 0.9);
  background-image: url("../images/introduce/map-leftsection-two-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 1.39vh;
  left: 9.12vw;
}

.introduce__map-land__left-section__two__title {
  background-color: #333333;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: 0.232vh;
  left: 0;
}

.introduce__map-land__left-section__two__active {
  background-image: url("../images/introduce/map-leftsection-two-active.svg");
}

.introduce__map-land__left-section__one {
  width: calc(11.67vw * 0.95);
  height: calc(15.51vh * 0.95);
  background-image: url("../images/introduce/map-leftsection-one-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -0.926vh;
  left: 16.67vw;
}

.introduce__map-land__left-section__one__title {
  background-color: #333333;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: -1.389vh;
  left: 0;
}

.introduce__map-land__left-section__one__active {
  background-image: url("../images/introduce/map-leftsection-one-active.svg");
}

.introduce__map-land__left-section__four {
  width: calc(11.8vw * 0.9);
  height: calc(14.95vh * 0.9);
  background-image: url("../images/introduce/map-leftsection-four-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 18.06vh;
  left: 6.52vw;
  z-index: 2;
}

.introduce__map-land__left-section__four__title {
  background-color: #333333;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  bottom: -3.25vh;
  left: 4.95vw;
}

.introduce__map-land__left-section__four__active {
  background-image: url("../images/introduce/map-leftsection-four-active.svg");
}

.introduce__map-land__left-section__five {
  width: calc(15.55vw * 0.9);
  height: calc(19.45vh * 0.9);
  background-image: url("../images/introduce/map-leftsection-five-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 10.65vh;
  left: 13.03vw;
  z-index: 1;
}

.introduce__map-land__left-section__five__title {
  background-color: #333333;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  bottom: -0.463vh;
  left: 9.12vw;
}

.introduce__map-land__left-section__five__title__active {
  bottom: -1.3vh;
  left: 8.86vw;
}

.introduce__map-land__left-section__five__active {
  width: calc(14.82vw * 0.9);
  height: calc(18.52vh * 0.9);
  left: 13.29vw;
  background-image: url("../images/introduce/map-leftsection-five-active.svg");
}

.introduce__map-land__your-place {
  width: 9.9vw;
  height: 13.8vh;
  background-image: url("../images/introduce/your-place.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 7.88vh;
  left: 23.44vw;
}

.introduce__map-land__right-section {
  max-width: 50%;
  position: absolute;
  top: 2.315vh;
  right: 28.65vw;
}

.introduce__map-land__right-section__four {
  width: calc(5.37vw * 0.95);
  height: calc(12.07vh * 0.95);
  background-image: url("../images/introduce/map-rightsection-four-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 7.88vh;
  left: -4.17vw;
}

.introduce__map-land__right-section__four__title {
  background-color: #808080;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: 2.32vh;
  left: -0.782vw;
}

.introduce__map-land__right-section__four__active {
  background-image: url("../images/introduce/map-rightsection-four-active.svg");
}

.introduce__map-land__right-section__three {
  width: calc(6.96vw * 0.95);
  height: calc(9.77vh * 0.95);
  background-image: url("../images/introduce/map-rightsection-three-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 15.28vh;
  left: -3.65vw;
  z-index: 3;
}

.introduce__map-land__right-section__three__title {
  background-color: #808080;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: 6.02vh;
  left: -0.521vw;
}

.introduce__map-land__right-section__three__active {
  background-image: url("../images/introduce/map-rightsection-three-active.svg");
}

.introduce__map-land__right-section__two {
  width: calc(6.28vw * 0.9);
  height: calc(9.08vh * 0.9);
  background-image: url("../images/introduce/map-rightsection-two-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 20.38vh;
  left: -1.18vw;
  z-index: 3;
}

.introduce__map-land__right-section__two__title {
  background-color: #808080;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: 5.56vh;
  left: -1.18vw;
}

.introduce__map-land__right-section__two__active {
  background-image: url("../images/introduce/map-rightsection-two-active.svg");
}

.introduce__map-land__right-section__one {
  width: calc(13.08vw * 0.95);
  height: calc(13.11vh * 0.95);
  background-image: url("../images/introduce/map-rightsection-one-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 21.3vh;
  left: 0.782vw;
  z-index: 2;
}

.introduce__map-land__right-section__one__title {
  background-color: #808080;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  bottom: -3.71vh;
  left: 2.61vw;
}

.introduce__map-land__right-section__one__active {
  background-image: url("../images/introduce/map-rightsection-one-active.svg");
}

.introduce__map-land__right-section__five {
  width: calc(19.02vw * 0.95);
  height: calc(20.84vh * 0.95);
  background-image: url("../images/introduce/map-rightsection-five-default.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 4.63vh;
  left: 0.782vw;
  z-index: 1;
}

.introduce__map-land__right-section__five__title {
  background-color: #808080;
  width: 1.615vw;
  height: 1.615vw;
  border-radius: 50%;
  font-size: 1.042vw;
  color: white;
  position: absolute;
  top: -5.56vh;
  left: 6.25vw;
}

.introduce__map-land__right-section__five__active {
  background-image: url("../images/introduce/map-rightsection-five-active.svg");
}

.introduce__map-land__conference-room {
  width: 12.74vw;
  height: 21.95vh;
  background-image: url("../images/introduce/conference-room.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: -24.74vw;
  z-index: 2;
}

.introduce__map-name-section {
  height: 14.13vh;
  width: 52.04vw;
  margin-bottom: 7.871vh;
  margin-left: 5.99vw;
}

.introduce__map-name-section__left-section {
  position: relative;
}

.introduce__map-name-section__left-section::after {
  content: '';
  width: 0.131vw;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  right: -0.782vw;
  top: 0;
}

.introduce__map-name-section__left-section__title {
  width: 10.58vw;
  height: 4.87vh;
  background-image: url("../images/introduce/map-title-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.introduce__map-name-section__left-section__title span {
  font-size: 1.303vw;
  margin-left: 1.823vw;
  letter-spacing: 0.131vw;
}

.introduce__map-name-section__left-section__content {
  margin-top: 1.852vh;
}

.introduce__map-name-section__left-section__content__part {
  font-size: 1.042vw;
  letter-spacing: 0.131vw;
  margin-top: 0.463vh;
}

.introduce__map-name-section__left-section__content__part span {
  margin-left: 0.521vw;
}

.introduce__map-name-section__left-section__content__part__number {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 1.042vw;
  height: 1.852vh;
  font-size: 0.652vw;
  padding-left: 0.131vw;
}

.introduce__map-name-section__left-section__second-line {
  margin-left: 2.605vw;
}

.introduce__map-name-section__right-section {
  padding-left: 3.907vw;
}

.introduce__map-name-section__right-section__title {
  width: 10.58vw;
  height: 4.87vh;
  background-image: url("../images/introduce/map-title-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.introduce__map-name-section__right-section__title span {
  font-size: 1.303vw;
  margin-left: 1.823vw;
  letter-spacing: 0.131vw;
}

.introduce__map-name-section__right-section__content {
  margin-top: 1.852vh;
}

.introduce__map-name-section__right-section__content__part {
  font-size: 1.042vw;
  letter-spacing: 0.131vw;
  margin-top: 0.463vh;
}

.introduce__map-name-section__right-section__content__part span {
  margin-left: 0.521vw;
}

.introduce__map-name-section__right-section__content__part__number {
  color: white;
  background-color: gray;
  border-radius: 50%;
  width: 1.042vw;
  height: 1.852vh;
  font-size: 0.652vw;
  padding-left: 0.131vw;
}

.introduce__map-name-section__right-section__second-line {
  margin-left: 2.605vw;
}

.introduce__back-btn {
  background-image: url("../images/introduce/back-btn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 26.07vw;
  height: 10.19vh;
  position: absolute;
  bottom: 0;
  left: 40vw;
  z-index: 999;
  color: transparent;
}

.introduce__back-btn:hover {
  color: transparent;
}

.introduce__board {
  width: 32.79vw;
  height: 65.77vh;
  background-image: url("../images/introduce/img-board.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 20.84vh;
  right: 3.39vw;
  padding-top: 6.95vh;
  padding-left: 4.69vw;
}

.introduce__board__title {
  font-size: 2.35vw;
  color: white;
}

.introduce__board__title__number {
  font-size: 3.91vw;
  margin-right: 1.31vw;
}

.introduce__board__frame {
  width: 24.74vw;
  height: 25.47vh;
  background-image: url("../images/introduce/demo-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 2.09vh;
}

.introduce__board__text {
  width: 24.74vw;
  height: 8.56vh;
  color: white;
  font-size: 1.042vw;
  line-height: 1.5;
  margin-top: 1.852vh;
  overflow-y: scroll;
}

.introduce__board__btn-group {
  margin-top: 2.56vh;
  padding-left: 7.82vw;
}

.introduce__board__btn-left {
  width: 3.05vw;
  height: 5.37vh;
  background-image: url("../images/introduce/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  border: none;
}

.introduce__board__btn-left:focus {
  outline: none;
}

.introduce__board__btn-right {
  width: 3.05vw;
  height: 5.37vh;
  background-image: url("../images/introduce/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  border: none;
  margin-left: 1.57vw;
}

.introduce__board__btn-right:focus {
  outline: none;
}

.introduce__guide-line {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.introduce__dodge-left {
  width: 0.521vw;
  height: 79.63vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  overflow: hidden;
  position: absolute;
  top: 8.57vh;
  left: 1.225vw;
}

.introduce__dodge-right {
  width: 0.521vw;
  height: 76.39vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  overflow: hidden;
  position: absolute;
  top: 15.28vh;
  right: 1.5625vw;
}

.introduce__dodge-bottom {
  height: 0.926vh;
  width: 63.55vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  overflow: hidden;
  position: absolute;
  bottom: 1.852vh;
  right: 4.167vw;
}

.introduce__dodge {
  background: radial-gradient(circle, #E5677C, transparent 35%) center/25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  -webkit-animation: dodge-area 3s linear infinite;
          animation: dodge-area 3s linear infinite;
}

/* 霓虹效果 */
@keyframes dodge-area {
  to {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-rewind-button {
  display: none;
}

/* 圓圈旋轉 */
@-webkit-keyframes circle-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wall {
  background: url("../images/transition-bg.jpg");
  background-size: cover;
}

.transition-space {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.transition-space::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.scene {
  display: inline-block;
  vertical-align: middle;
  -webkit-perspective: 5px;
          perspective: 5px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: relative;
}

.wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: move 12s infinite linear;
          animation: move 12s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wrap:nth-child(2) {
  -webkit-animation: move 12s infinite linear;
          animation: move 12s infinite linear;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-animation: fade 12s infinite linear;
          animation: fade 12s infinite linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.wrap:nth-child(2) .wall {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.wall-right {
  -webkit-transform: rotateY(90deg) translateZ(500px);
          transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  -webkit-transform: rotateY(-90deg) translateZ(500px);
          transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  -webkit-transform: rotateX(90deg) translateZ(500px);
          transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  -webkit-transform: rotateX(-90deg) translateZ(500px);
          transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  -webkit-transform: rotateX(180deg) translateZ(500px);
          transform: rotateX(180deg) translateZ(500px);
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateZ(-500px) rotate(0deg);
            transform: translateZ(-500px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateZ(500px) rotate(0deg);
            transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateZ(-500px) rotate(0deg);
            transform: translateZ(-500px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateZ(500px) rotate(0deg);
            transform: translateZ(500px) rotate(0deg);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=all.css.map */