html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden !important;
  font-family: Noto Sans TC, Roboto, sans-serif;
}

.pointer {
  cursor: pointer;
}

/* 過場門 */
.left-door {
  width: 66.54vw;
  height: 100vh;
  background-image: url('../images/door/left.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: all 1s;
  transform: translateX(-66.54vw);
  &__active {
    transition: all .5s;
    transform: translateX(0);
  }
}
.right-door {
  width: 50.03vw;
  height: 100vh;
  background-image: url('../images/door/right.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  transition: all 1s;
  transform: translateX(50.03vw);
  &__active {
    transition: all .5s;
    transform: translateX(0);
  }
}

/* 過場遮罩 */
.animation-mask-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 1000;
}

.animation-mask {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  width: 100vw;
  height: 100vh;
  &__show {
    animation: zoom-in 2s ease-in forwards;
  }
}

@keyframes zoom-in {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(75%);
  }
}

/* 螢幕保護程式 */
.screen-protect {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  &__hint {
    background-image: url('../images/screen-saver.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 11.58vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__video {
    display: none;
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
    }
  }
}

/* 隱藏預設 scrollbar */
::-webkit-scrollbar {
  @media(min-width: 1921px) {
    display: none;
  }
}