html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden !important;
  font-family: NotoSansTC, sans-serif;
}

.pointer {
  cursor: pointer;
}

/* 過場門 */
.left-door {
  width: 66.54vw;
  height: 100vh;
  background-image: url('../images/door/left.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(-66.54vw);
  &__active {
    transition: all .5s;
    transform: translateX(0);
  }
}
.right-door {
  width: 50.03vw;
  height: 100vh;
  background-image: url('../images/door/right.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(50.03vw);
  &__active {
    transition: all .5s;
    transform: translateX(0);
  }
}