.index {
  background-image: url('../images/index/bg-graidient.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  &__introduce {
    width: 100%;
    height: 100%;
  }
  &__builing-group {
    margin-top: 300px;
  }
  &__history {
    width: 816px;
    height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 172px;
    &__award {
      width: 665px;
      height: 743px;
      background-image: url('../images/index/award.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: -400px;
      left: 70px;
    }
  }
  &__history-img-1 {
    background-image: url('../images/index/loopBuilding-1.png');
  }
  &__history-img-2 {
    background-image: url('../images/index/loopBuilding-2.png');
  }
  &__intro {
    width: 1157px;
    height: 1466px;
    background-image: url('../images/index/intro.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}