.index {
  background-image: url('../images/index/bg-graidient.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  &__bg-bottom-cloud {
    background-image: url('../images/index/cloud-front.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 903px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__bg-building {
    background-image: url('../images/index/bg-building.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  &__introduce {
    position: absolute;
    bottom: 80px;
    left: 130px;
  }
  &__chronology {
    position: absolute;
    bottom: -110px;
  }
  &__award {
    position: absolute;
    top: -100px;
    right: 550px;
  }
  &__lifestyle {
    position: absolute;
    top: 100px;
    left: -180px;
  }
  &__builing-group {
    margin-top: 480px;
  }
  &__history {
    width: 816px;
    height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 180px;
    &__award {
      width: 665px;
      height: 743px;
      background-image: url('../images/index/award.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: -400px;
      left: 70px;
    }
  }
  &__history-img-1 {
    background-image: url('../images/index/loopBuilding-1.png');
  }
  &__history-img-2 {
    background-image: url('../images/index/loopBuilding-2.png');
  }
  &__intro {
    width: 1157px;
    height: 1466px;
    margin-right: 150px;
    background-image: url('../images/index/intro.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__board {
    width: 530px;
    height: 750px;
    background-image: url('../images/index/board.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -200px;
    left: 430px;
    &__light {
      position: absolute;
      top: 150px;
      right: 0;
      width: 600px;
      height: 250px;
      background-image: url('../images/index/board-light.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}