.index {
  background-image: url('../images/index/bg-graidient.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__bg-bottom-cloud {
    background-image: url('../images/index/cloud-front.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 41.81vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__bg-building {
    background-image: url('../images/index/bg-building.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
  &__introduce {
    position: absolute;
    bottom: 6.482vh;
    left: 5.73vw;
    width: 17.71vw;
    height: 9.77vh;
    z-index: 3;
    &::before {
      content: '';
      background-image: url('../images/index/index-cartoon-two.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 6.771vw;
      height: 14.26vh;
      position: absolute;
      top: -2.084vh;
      left: -2.344vw;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__chronology {
    position: absolute;
    bottom: -5.093vh;
  }
  &__award {
    position: absolute;
    top: -4.63vh;
    right: 14.33vw;
  }
  &__lifestyle {
    position: absolute;
    top: 9.26vh;
    left: -3.65vw;
    width: 17.71vw;
    height: 9.77vh;
    &::before {
      content: '';
      background-image: url('../images/index/index-cartoon-one.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 7.84vw;
      height: 14.17vh;
      position: absolute;
      top: -8.34vh;
      left: 0.651vw;
      z-index: -1;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__builing-group {
    margin-top: 22.23vh;
  }
  &__history {
    width: 24.48vw;
    height: 63.2vh;
    background-image: url('../images/index/loopBuilding-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1.823vw;
    margin-bottom: 2.32vh;
    animation-name: history-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &__award {
      width: 8.99vw;
      height: 34.36vh;
      background-image: url('../images/index/award.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: -17.13vh;
      left: 5.21vw;
      z-index: 2;
      &__left-light-base {
        position: absolute;
        bottom: 4.63vh;
        left: -1.823vw;
        width: 0.756vw;
        height: 1.482vh;
        background-image: url('../images/index/light-rotate/light-base.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transform: scaleX(-1);
      }
      &__left-light-head {
        position: absolute;
        bottom: 5.56vh;
        left: -1.823vw;
        width: 1.25vw;
        height: 1.991vh;
        background-image: url('../images/index/light-rotate/light-head-left.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        animation-name: light-rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        &::after {
          content: '';
          width: 9.64vw;
          height: 20.65vh;
          background-image: url('../images/index/light-rotate/spotlight-left.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          bottom: 0.926vh;
          left: 0.7813vw;
        }
      }
      &__right-light-base {
        position: absolute;
        bottom: 4.63vh;
        right: -5.99vw;
        width: 0.756vw;
        height: 1.482vh;
        background-image: url('../images/index/light-rotate/light-base.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      &__right-light-head {
        position: absolute;
        bottom: 5.56vh;
        right: -5.99vw;
        width: 1.25vw;
        height: 1.991vh;
        background-image: url('../images/index/light-rotate/light-head-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        animation-name: light-rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        &::after {
          content: '';
          width: 9.64vw;
          height: 20.65vh;
          background-image: url('../images/index/light-rotate/spotlight-right.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          bottom: 0.926vh;
          right: 0.7813vw;
        }
      }
    }
    &__clock {
      width: 5.261vw;
      height: 16.3vh;
      background-image: url('../images/index/clock.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      bottom: 4.63vh;
      left: -1.433vw;
      &::after {
        content: '';
        position: absolute;
        top: 6.019vh;
        left: 2.344vw;
        width: 0.183vw;
        height: 2.32vh;
        background-color: white;
        transform-origin: 50% 80%;
        animation: pointer-rotate 30s infinite steps(60);
      }
    }
    &__mist {
      width: 17.87vw;
      height: 26.58vh;
      background-image: url('../images/index/mist.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: -14.82vh;
      left: 1.563vw;
      z-index: 1;
      animation-name: mist-move;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  &__intro {
    width: 35.16vw;
    height: 71.76vh;
    margin-top: 0.463vh;
    margin-right: 1.823vw;
    background-image: url('../images/index/intro.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__active {
      background-image: url('../images/index/intro-active.svg');
    }
  }
  &__board {
    width: 15.21vw;
    height: 38.74vh;
    background-image: url('../images/index/board.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -13.89vh;
    left: 11.72vw;
    &__active {
      background-image: url('../images/index/board-active.svg');
      height: 41.16vh;
      top: -15.05vh;
    }
    &__video {
      width: 15.76vw;
      height: 32.41vh;
      transform: rotate(34deg) skew(34deg, -4deg) translateX(-0.7032vw) translateY(3.01vh);
      &__active {
        transform: rotate(34deg) skew(34deg, -4deg) translateX(-0.7032vw) translateY(3.936vh);
      }
    }
    &__right-light-base {
      position: absolute;
      right: 3.125vw;
      bottom: -3.565vh;
      width: 0.756vw;
      height: 1.482vh;
      background-image: url('../images/index/light-rotate/light-base.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &__active {
        bottom: -2.315vh;
      }
    }
    &__right-light-head {
      position: absolute;
      bottom: -2.639vh;
      right: 3.125vw;
      width: 1.25vw;
      height: 1.991vh;
      background-image: url('../images/index/light-rotate/light-head-right.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &__active {
        bottom: -1.389vh;
      }
      &::after {
        content: '';
        width: 9.64vw;
        height: 20.65vh;
        background-image: url('../images/index/light-rotate/spotlight-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        bottom: 0.926vh;
        right: 0.7813vw;
      }
      // animation-name: light-rotate;
      // animation-duration: 4s;
      // animation-iteration-count: infinite;
      // animation-direction: alternate;
    }
  }
  &__arrow-path {
    width: 3.52vw;
    height: 4.91vh;
    background-image: url('../images/index/arrow-path/arrow-path-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: 12.27vh;
    left: 1.96vw;
    animation-name: arrow-path-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  &__cloud-group {
    height: 11.12vh;
    width: 6.25vw;
    z-index: 1;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 6.95vh;
    left: 0;
    opacity: 0.8;
    &__two {
      top: 4.63vh;
      left: 5.21vw;
    }
    &__three {
      left: 6.381vw;
    }
    &__four {
      left: 9.12vw;
    }
    &__five {
      width: 12.5vw;
      left: 11.72vw;
    }
    &__six {
      top: 6.019vh;
      left: 19.54vw;
    }
  }
  &__cloud-group-two {
    height: 11.12vh;
    width: 6.25vw;
    z-index: 1;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 6.95vh;
    right: 0;
    opacity: 0.8;
    &__two {
      top: 4.63vh;
      right: 5.21vw;
    }
    &__three {
      right: 6.381vw;
    }
    &__four {
      right: 9.115vw;
    }
    &__five {
      width: 12.5vw;
      right: 11.72vw;
    }
    &__six {
      top: 6.02vh;
      right: 19.54vw;
    }
    &__seven {
      top: 5.093vh;
      right: 24.74vw;
    }
  }
  &__cloud-wave {
    position: absolute;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      width: 12.24vw;
      height: 18.06vh;
      top: 6.95vh;
      left: 55%;
      background-color: rgba(250, 250, 250, 0.18);
      border-radius: 70%;
      transform: translateX(-50%) rotate(0);
      animation: wave 6s linear infinite;
      z-index: 10;
    }
    &::after {
      content: "";
      position: absolute;
      width: 12.24vw;
      height: 18.06vh;
      top: 6.95vh;
      left: 55%;
      border-radius: 30%;
      background-color: rgba(250, 250, 250, 0.9);
      transform: translateX(-50%) rotate(0);
      animation: wave 10s linear -5s infinite;
      z-index: 20;
    }
  }
  &__sound {
    width: 9.037vw;
    height: 63.241vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 34.73vh;
    right: 2.61vw;
    z-index: 3;
    animation-name: soundMove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &__sound-front {
    width: 9.04vw;
    height: 63.241vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 5.21vw;
    z-index: 3;
    animation-name: soundMove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &__video-popup {
    max-width: 84.09vw !important;
    .modal-content {
      height: 81.95vh;
      background-image: url('../images/index/popup-bg.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: transparent;
      border: none;
    }
    &__video {
      position: absolute;
      top: 8.34vh;
      left: 15.24vw;
      width: 59.09vw;
      height: 59.09vh;
    }
    #film-two, #film-three {
      display: none;
    }
    &__close {
      position: absolute;
      top: -1.86vh;
      right: -0.782vw;
      opacity: 1 !important;
      width: 6.41vw;
      height: 10.05vh;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__richart {
      width: 12.01vw;
      height: 36.02vh;
      background-image: url('../images/index/richart.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      bottom: -3.241vh;
      right: -4.17vw;
    }
    &__button-group {
      position: absolute;
      bottom: 6.02vh;
      left: 15.11vw;
      button {
        width: 13.021vw;
        height: 5.56vh;
        margin-right: 1.172vw;
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:focus {
          outline: none;
        }
      }
      .video-btn-one {
        background-image: url('../images/index/videoBtn-default.svg');
        &__active {
          background-image: url('../images/index/videoBtn-active.svg');
        }
      }
      .video-btn-two {
        background-image: url('../images/index/videoBtn-default.svg');
        &__active {
          background-image: url('../images/index/videoBtn-active.svg');
        }
      }
      .video-btn-three {
        background-image: url('../images/index/videoBtn-default.svg');
        &__active {
          background-image: url('../images/index/videoBtn-active.svg');
        }
      }
    }
    &__upline {
      width: 66.67vw;
      height: 1.12vh;
      background-image: url('../images/index/popup-upperline.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 3.241vh;
      left: 8.594vw;
      display:inline-flex;
      filter: brightness(300%);
      overflow: hidden;
    }
    &__rightline {
      width: 36.46vw;
      height: 1.12vh;
      transform: rotate(90deg);
      background-image: url('../images/index/popup-upperline.svg');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 40.741vh;
      right: -15.11vw;
      display:inline-flex;
      filter: brightness(300%);
      overflow: hidden;
    }
    &__bottomline {
      width: 7.27vw;
      height: 5.33vh;
      background-image: url('../images/index/popup-bottom-left.svg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 1.39vh;
      left: -0.261vw;
    }
    &__dodge {
      background: radial-gradient(circle,white,red 35%) center / 25% 25%;
      position: absolute;
      top: -100%;
      left: -100%;
      right: 0;
      bottom: 0;
      mix-blend-mode: color-dodge;
      animation: dodge-area 3s linear infinite;
    }
    &__btn-two-active {
      .default {
        display: none;
      }
      .active {
        display: inline;
      }
    }
  }
}

/* 指針動畫 */
// Doc: https://cssanimation.rocks/clocks/
@keyframes pointer-rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

/* cloud wave 動畫 */
@keyframes wave {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* 音響動畫 */
@keyframes soundMove {
  0% {
    background-image: url('../images/index/sound-level-1.svg');
  }
  20% {
    background-image: url('../images/index/sound-level-2.svg');
  }
  40% {
    background-image: url('../images/index/sound-level-3.svg');
  }
  60% {
    background-image: url('../images/index/sound-level-4.svg');
  }
  80% {
    background-image: url('../images/index/sound-level-5.svg');
  }
  100% {
    background-image: url('../images/index/sound-level-6.svg');
  }
}

/* pop up 邊框動畫 */
@keyframes dodge-area {
  to {
    transform: translate(50%, 50%);
  }
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}
video::-webkit-media-controls-mute-button { 
  display: none;
}
video::-webkit-media-controls-rewind-button { 
  display: none;
}

/* mist 動畫 */
@keyframes mist-move {
  100% {
    transform: translateX(1.3021vw);
  }
}

/* 獎盃燈光轉動 */
@keyframes light-rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
}

/* arrow path 換圖 */
@keyframes arrow-path-change {
  25% {
    background-image: url('../images/index/arrow-path/arrow-path-1.svg');
  }
  50% {
    background-image: url('../images/index/arrow-path/arrow-path-2.png');
  }
  75% {
    background-image: url('../images/index/arrow-path/arrow-path-3.png');
  }
  100% {
    background-image: url('../images/index/arrow-path/arrow-path-4.png');
  }
}

/* 水滴大樓換圖 */
@keyframes history-change {
  50% {
    background-image: url('../images/index/loopBuilding-1.png');
  }
  100% {
    background-image: url('../images/index/loopBuilding-2.png');
  }
}