.introduce {
  background-image: url('../images/introduce/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  &__title {
    width: 33.62vw;
    height: 14.73vh;
    background-image: url('../images/introduce/title.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 4.48vw;
  }
  &__frame {
    background-image: url('../images/introduce/introduce-frame.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    padding-top: 9.26vh;
  }
  &__map-land {
    width: 63.47vw;
    height: 53.75vh;
    position: absolute;
    top: 19.91vh;
    left: 1.302vw;
    background-image: url('../images/introduce/map-land.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__left-section {
      max-width: 50%;
      position: absolute;
      top: 18.52vh;
      left: 0;
      padding-top: 4.63vh;
      padding-left: 3.91vw;
      &__three {
        width: 10.26vw;
        height: 16.76vh;
        background-image: url('../images/introduce/map-leftsection-three-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &__two {
        width: 10.26vw;
        height: 16.76vh;
        background-image: url('../images/introduce/map-leftsection-two-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 11.72vw;
      }
      &__two {
        width: 11.85vw;
        height: 18.48vh;
        background-image: url('../images/introduce/map-leftsection-two-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: -0.781vh;
        left: 11.2vw;
      }
      &__one {
        width: 11.67vw;
        height: 15.51vh;
        background-image: url('../images/introduce/map-leftsection-one-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: -2.78vh;
        left: 19.53vw;
      }
      &__four {
        width: 11.8vw;
        height: 14.95vh;
        background-image: url('../images/introduce/map-leftsection-four-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 17.13vh;
        left: 8.34vw;
      }
      &__five {
        width: 15.55vw;
        height: 19.45vh;
        background-image: url('../images/introduce/map-leftsection-five-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 9.26vh;
        left: 15.63vw;
      }
    }
    &__your-place {
      width: 9.9vw;
      height: 13.8vh;
      background-image: url('../images/introduce/your-place.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 7.41vh;
      left: 27.61vw;
    }
  }
}