.introduce {
  background-image: url('../images/introduce/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  &__title {
    width: 33.62vw;
    height: 14.73vh;
    background-image: url('../images/introduce/title.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 4.48vw;
  }
  &__frame {
    background-image: url('../images/introduce/introduce-frame.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    padding-top: 9.26vh;
  }
  &__map-land {
    width: 63.47vw;
    height: 55.56vh;
    position: absolute;
    top: 19.91vh;
    left: 1.302vw;
    background-image: url('../images/introduce/map-land.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__left-section {
      max-width: 50%;
      position: absolute;
      top: 18.52vh;
      left: 0;
      &__three {
        width: calc(9.56vw * 0.95);
        height: calc(15.74vh * 0.95);
        background-image: url('../images/introduce/map-leftsection-three-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 6.02vh;
        left: 2.61vw;
        &__title {
          background-color: #333333;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: -1.16vh;
          left: 0.131vw;
          &__active {
            top: -0.232vh;
            left: 0.652vw;
          }
        }
        &__active {
          width: calc(10.42vw * 0.95);
          height: calc(17.04vh * 0.95);
          top: 5.1vh;
          left: 2.084vw;
          background-image: url('../images/introduce/map-leftsection-three-active.svg');
        }
      }
      &__two {
        width: calc(11.85vw * 0.9);
        height: calc(18.48vh * 0.9);
        background-image: url('../images/introduce/map-leftsection-two-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 1.39vh;
        left: 9.12vw;
        &__title {
          background-color: #333333;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: 0.232vh;
          left: 0;
        }
        &__active {
          background-image: url('../images/introduce/map-leftsection-two-active.svg');
        }
      }
      &__one {
        width: calc(11.67vw * 0.95);
        height: calc(15.51vh * 0.95);
        background-image: url('../images/introduce/map-leftsection-one-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: -0.926vh;
        left: 16.67vw;
        &__title {
          background-color: #333333;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: -1.389vh;
          left: 0;
        }
        &__active {
          background-image: url('../images/introduce/map-leftsection-one-active.svg');
        }
      }
      &__four {
        width: calc(11.8vw * 0.9);
        height: calc(14.95vh * 0.9);
        background-image: url('../images/introduce/map-leftsection-four-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 18.06vh;
        left: 6.52vw;
        z-index: 2;
        &__title {
          background-color: #333333;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          bottom: -3.25vh;
          left: 4.95vw;
        }
        &__active {
          background-image: url('../images/introduce/map-leftsection-four-active.svg');
        }
      }
      &__five {
        width: calc(15.55vw * 0.9);
        height: calc(19.45vh * 0.9);
        background-image: url('../images/introduce/map-leftsection-five-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 10.65vh;
        left: 13.03vw;
        z-index: 1;
        &__title {
          background-color: #333333;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          bottom: -0.463vh;
          left: 9.12vw;
          &__active {
            bottom: -1.3vh;
            left: 8.86vw;
          }
        }
        &__active {
          width: calc(14.82vw * 0.9);
          height: calc(18.52vh * 0.9);
          left: 13.29vw;
          background-image: url('../images/introduce/map-leftsection-five-active.svg');
        }
      }
    }
    &__your-place {
      width: 9.9vw;
      height: 13.8vh;
      background-image: url('../images/introduce/your-place.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 7.88vh;
      left: 23.44vw;
    }
    &__right-section {
      max-width: 50%;
      position: absolute;
      top: 2.315vh;
      right: 28.65vw;
      &__four {
        width: calc(5.37vw * 0.95);
        height: calc(12.07vh * 0.95);
        background-image: url('../images/introduce/map-rightsection-four-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 7.88vh;
        left: -4.17vw;
        &__title {
          background-color: #808080;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: 2.32vh;
          left: -0.782vw;
        }
        &__active {
          background-image: url('../images/introduce/map-rightsection-four-active.svg');
        }
      }
      &__three {
        width: calc(6.96vw * 0.95);
        height: calc(9.77vh * 0.95);
        background-image: url('../images/introduce/map-rightsection-three-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 15.28vh;
        left: -3.65vw;
        z-index: 3;
        &__title {
          background-color: #808080;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: 6.02vh;
          left: -0.521vw;
        }
        &__active {
          background-image: url('../images/introduce/map-rightsection-three-active.svg');
        }
      }
      &__two {
        width: calc(6.28vw * 0.9);
        height: calc(9.08vh * 0.9);
        background-image: url('../images/introduce/map-rightsection-two-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 20.38vh;
        left: -1.18vw;
        z-index: 3;
        &__title {
          background-color: #808080;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: 5.56vh;
          left: -1.18vw;
        }
        &__active {
          background-image: url('../images/introduce/map-rightsection-two-active.svg');
        }
      }
      &__one {
        width: calc(13.08vw * 0.95);
        height: calc(13.11vh * 0.95);
        background-image: url('../images/introduce/map-rightsection-one-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 21.3vh;
        left: 0.782vw;
        z-index: 2;
        &__title {
          background-color: #808080;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          bottom: -3.71vh;
          left: 2.61vw;
        }
        &__active {
          background-image: url('../images/introduce/map-rightsection-one-active.svg');
        }
      }
      &__five {
        width: calc(19.02vw * 0.95);
        height: calc(20.84vh * 0.95);
        background-image: url('../images/introduce/map-rightsection-five-default.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 4.63vh;
        left: 0.782vw;
        z-index: 1;
        &__title {
          background-color: #808080;
          width: 1.615vw;
          height: 1.615vw;
          border-radius: 50%;
          font-size: 1.042vw;
          color: white;
          position: absolute;
          top: -5.56vh;
          left: 6.25vw;
        }
        &__active {
          background-image: url('../images/introduce/map-rightsection-five-active.svg');
        }
      }
    }
    &__conference-room {
      width: 12.74vw;
      height: 21.95vh;
      background-image: url('../images/introduce/conference-room.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      right: -24.74vw;
      z-index: 2;
    }
  }
  &__map-name-section {
    height: 14.13vh;
    width: 52.04vw;
    margin-bottom: 7.871vh;
    margin-left: 5.99vw;
    &__left-section {
      position: relative;
      &::after {
        content: '';
        width: 0.131vw;
        height: 100%;
        background-color: rgba($color: gray, $alpha: 0.5);
        position: absolute;
        right: -0.782vw;
        top: 0;
      }
      &__title {
        width: 10.58vw;
        height: 4.87vh;
        background-image: url('../images/introduce/map-title-bg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        span {
          font-size: 1.303vw;
          margin-left: 1.823vw;
          letter-spacing: 0.131vw;
        }
      }
      &__content {
        margin-top: 1.852vh;
        &__part {
          font-size: 1.042vw;
          letter-spacing: 0.131vw;
          margin-top: 0.463vh;
          span {
            margin-left: 0.521vw;
          }
          &__number {
            color: white;
            background-color: black;
            border-radius: 50%;
            width: 1.042vw;
            height: 1.852vh;
            font-size: 0.652vw;
            padding-left: 0.131vw;
          }
        }
      }
      &__second-line {
        margin-left: 2.605vw;
      }
    }
    &__right-section {
      padding-left: 3.907vw;
      &__title {
        width: 10.58vw;
        height: 4.87vh;
        background-image: url('../images/introduce/map-title-bg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        span {
          font-size: 1.303vw;
          margin-left: 1.823vw;
          letter-spacing: 0.131vw;
        }
      }
      &__content {
        margin-top: 1.852vh;
        &__part {
          font-size: 1.042vw;
          letter-spacing: 0.131vw;
          margin-top: 0.463vh;
          span {
            margin-left: 0.521vw;
          }
          &__number {
            color: white;
            background-color: rgba($color: gray, $alpha: 1);
            border-radius: 50%;
            width: 1.042vw;
            height: 1.852vh;
            font-size: 0.652vw;
            padding-left: 0.131vw;
          }
        }
      }
      &__second-line {
        margin-left: 2.605vw;
      }
    }
  }
  &__back-btn {
    background-image: url('../images/introduce/back-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 26.07vw;
    height: 10.19vh;
    position: absolute;
    bottom: 0;
    left: 40vw;
    color: transparent;
    &:hover {
      color: transparent;
    }
  }
}