.wall{
  background: url('../images/transition-bg.jpg');
  background-size: cover;
}

.transition-space{
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  video {
    width: 100vw;
    height: 100vh;
  }
}

.transition-circle-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 0;
  height: 0;
  background-image: url('../images/transition/transition-circle-1.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &__active {
    animation: rotateShow-1 2s linear forwards;
  }
}

.transition-circle-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 0;
  height: 0;
  background-image: url('../images/transition/transition-circle-2.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &__active {
    animation: rotate 2s linear .2s infinite, rotateShow-2 4s linear forwards;
  }
}

.transition-circle-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 0;
  height: 0;
  background-image: url('../images/transition/transition-circle-3.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &__active {
    animation: rotate 2s linear .2s infinite, rotateShow-3 4s linear forwards;
  }
}

.transition-circle-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 0;
  height: 0;
  background-image: url('../images/transition/transition-circle-4.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &__active {
    animation: rotate 2s linear .2s infinite, rotateShow-4 4s linear forwards;
  }
}

.transition-circle-5 {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-image: url('../images/transition/transition-circle-5.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &__active {
    animation: rotate 2s linear .2s infinite, rotateShow-5 4s linear forwards;
  }
}

.transition-column {
  position: absolute;
  width: 21.12vw;
  height: 12.92vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-image: url('../images/transition/transition-column.svg');
  background-size: 50% auto;
  background-position: center center;
  background-repeat: repeat;
  &__active {
    animation: columnShow 3s linear forwards;
  }
}

.transition-number {
  width: 16.28vw;
  height: 19.31vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-image: url('../images/transition/transition-number.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  &__active {
    animation: numberShow 5s linear forwards;
  }
}

/* 動畫年份 */
$one-second: 0.002s;
$easing: cubic-bezier(1,0,1,0);

$digit-height: 18.52vh;

.digit {
  display: inline-block;
  font-size: 18.52vh;
  color: white;
  height: $digit-height;
  line-height: 1;
  text-shadow: 0 0 0.78125vw #FF1177, 0 0 0.521vw #FF1177, 0 0 0.521vw #FF1177, 0 0 0.261vw #FF1177, 0 0 1.3021vw #FF1177;
}

.time-part-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RoboTo;
  width: 52.09vw;
  height: 18.52vh;
  opacity: 0;
  overflow: hidden;
  &__active {
    animation: yearShow 8s forwards;
  }
}

.time-part {
  width: 6.86vw;
  text-align: center;
  height: $digit-height;
  display: inline-block;
  margin-left: -0.131vw;
  box-sizing: border-box;
  border-color: transparent;
  .digit-wrapper {
    text-shadow: none;
    animation-timing-function: $easing;
  }

  &.seconds {
    &.tens .digit-wrapper {
      transform: translateY(-$digit-height);
      &__active {
        transform: translateY(0);
        animation-name: seconds-tens;
        animation-duration: $one-second * 10 * 6 * 10 * 3;
        animation-iteration-count: 1;
      }
    }
    &.ones .digit-wrapper {
      &__active {
        animation-name: seconds-ones;
        animation-duration: $one-second * 10 * 6 * 10;
        animation-iteration-count: 3;
      }
    }
  }
}

@keyframes seconds-tens {
  $step: (100 / 3);
  $progress: 0%;
  $translate: -$digit-height;
  @while $progress < 100 {
    #{$progress} { transform: translateY($translate); }
    $progress: $progress + $step;
    $translate: $translate - $digit-height;
  }
}

@keyframes seconds-ones {
  $step: (100 / 10);
  $progress: 0%;
  $translate: 0;
  @while $progress < 100 {
    #{$progress} { transform: translateY($translate); }
    $progress: $progress + $step;
    $translate: $translate - $digit-height;
  }
}

/* 動畫年份 end */


/* 小數字跳動 */
$digit-decorate-height: 100px;
$decorate-second: 0.01s;

.time-decorate-wrapper {
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 32.55vh;
  right: 3.99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RoboTo;
  overflow: hidden;
}

.time-decorate {
  width: 8.86vw;
  text-align: center;
  height: $digit-decorate-height;
  display: inline-block;
  margin-left: -0.131vw;
  box-sizing: border-box;
  border-color: transparent;
  
  .digit-decorate-wrapper {
    text-shadow: none;
    animation-timing-function: $easing;
  }

  &.seconds {
    &.ones .digit-decorate-wrapper {
      animation-name: seconds-ones-decorate;
      animation-duration: $decorate-second * 10 * 6 * 10;
      animation-iteration-count: infinite;
    }
  }
}

.digit-decorate {
  display: inline-block;
  font-size: 100px;
  color: white;
  height: $digit-decorate-height;
  line-height: 1;
  text-shadow: 0 0 0.78125vw #FF1177, 0 0 0.521vw #FF1177, 0 0 0.521vw #FF1177, 0 0 0.261vw #FF1177, 0 0 1.3021vw #FF1177;
}

@keyframes seconds-ones-decorate {
  $step: (100 / 10);
  $progress: 0%;
  $translate: -$digit-decorate-height;
  @while $progress < 100 {
    #{$progress} { transform: translateY($translate); }
    $progress: $progress + $step;
    $translate: $translate - $digit-decorate-height;
  }
}

/* 小數字跳動 end */

.scene{
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}

.wrap{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

.wrap:nth-child(2){
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}

.wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}


@keyframes move {
  0%{
    transform: translateZ(-500px) rotate(0deg);
  }
  100%{
    transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes rotateShow-1 {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 23.89vw;
    height: 23.89vw;
  }
}

@keyframes rotateShow-5 {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: calc(87.11vw * 2);
    height: calc(154.87vh * 2);
  }
}

@keyframes rotateShow-4 {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: calc(59.48vw * 3);
    height: calc(107.88vh * 3);
  }
}

@keyframes rotateShow-3 {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: calc(52.48vw * 4);
    height: calc(93.34vh * 4);
  }
}

@keyframes rotateShow-2 {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: calc(40.58vw * 4);
    height: calc(72.69vh * 4);
  }
}

@keyframes columnShow {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.5);
  }

  70% {
    top: 76.44vh;
    left: 5.105vw;
    transform: scale(1);
  }

  100% {
    top: 105vh;
    left: -5vw;
  }
}

@keyframes numberShow {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.5);
  }

  70% {
    left: 79.74vw;
    top: 32.55vh;
    transform: scale(1);
  }

  100% {
    top: 31.49vh;
    left: 105vw;
  }
}

@keyframes yearShow {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}