@font-face {
  font-family: Noto Sans TC;
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf') format('opentype')
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('opentype')
}
@font-face {
  font-family: Noto Sans TC Medium;
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf') format('opentype')
}

@import './reset';
@import './global';
@import './index';
@import './introduce';
@import './transition'